{
  "ConnectionStrings": {
      "Taskmaster" : {
        "ConnectionString": "Host=localhost;Port=8588;Database=Taskmaster;Username=postgres;Password=postgres"
      }
    },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}